@page "/login"
@model StimikChat.Pages._AuthHostModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@namespace StimikChat.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1> LOGIN </h1>
